@charset "UTF-8";
html {
    font-size: 62.5%;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    -webkit-appearance: none; /*苹果和安卓按钮样式*/
}
body {
    font-family: "Tahoma,Arial,Roboto,”Droid Sans”,”Helvetica Neue”,”Droid Sans Fallback”,”Heiti SC”,”Hiragino Sans GB”,Simsun,sans-self;
    margin : 0 auto;
}
img {
    width: 100%;
    display: block;
}
/*灰影清除*/
a,button,input,textarea,img {
    color: #000000;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
}
header,section,footer{
    display: block;
}
.up{
    position: absolute;
    z-index: 999;
    top: 2rem;
    left: 4%;
}
.up img{
    width: 40px;
    opacity: 0.5;
}
.share{
    position: absolute;
    z-index: 999;
    top: 2rem;
    right: 4%;
}
.share img{
    width: 40px;
    opacity: 0.5;
}
.container{
    max-width: 640px;
    margin: 0 auto;
}
.t_container{
    padding-left: 4%;
    padding-right: 4%;
}
.p_service{
    margin-top: 0.5rem;
    font-size: 1.2rem;
    color: darkgray;
}
.p_service span{
    color: dodgerblue;
    font-size: 1.4rem;
}
.p_detail{
    margin-top: 1rem;
    font-size: 1.6rem;
    text-indent: -1rem;
}
.bg_hg{
    margin-top: 1rem;
    background-image: url('../img/hg.png');
    background-size: 160px 30px ;
    width: 160px;
    height: 30px;
    position: relative;
}
.new{
    position: absolute;
    font-size: 1.8rem;
    color: white;
    top:5%;
    left:7%;
}
.new span{
    font-size: 1.4rem;
}
.old{
    position: absolute;
    font-size: 1rem;
    text-decoration: line-through;
    color: white;
    top:30%;
    right:4%;
}
.p_count{
    text-align: center;
    margin-top: 1rem;
    font-size: 1rem;
    color: #FFAD86;
    width: 12rem;
    border: 1px solid  #FFAD86;
    border-radius: 2px;
}
.p_time{
    margin-top: 1rem;
    font-size: 1.6rem;
    color:dodgerblue;
}
.p_time span{
    font-size: 1.4rem;
    color: darkgray;
}
.index{
    margin-top: 0.5rem;
    border-top: 1px solid gainsboro;
    background-color: white;
    height: 6rem;
    width: 30%;
    float: left;
}
.index a{
    display: block;
    text-align: center;
    text-decoration: none;
    color: #f15352;
}
.index img {
    margin: 0 auto;
    margin-top: 1.6rem;
}
.footer_bg{
    margin-top: 0.5rem;
    width: 70%;
    float: left;
    position: relative;
}
.footer_bg img {
    height: 6rem;
    width: 100%;
}
.button{
    position: absolute;
    width: 60%;
    left: 20%;
    top:1.8rem;
    z-index: 777;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    background-color: rgba(0,0,0,0.4);
}
.button a{
    padding: 2% 0;
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 1.6rem;
}
.cancel{
    position: fixed;
    width: 100%;
    top:5%;
    left: 10%;
    right: 10%;
    z-index: 999;
    display: none;
}
.alert{
    position: relative;
}
.img1{
    width: 80%;
    height: 150px;
}
.text{
    margin-top: -0.5rem;
    background-color: white;
    width: 80%;
    text-align: center;
}
.G500{
    padding: 0.5rem 0 0.5rem 0;
    font-size: 1.6rem;
}
hr{
    margin: 0 auto;
    outline: none;
    border: none;
    border-bottom: 1px solid gainsboro;
    width: 80%;
}
table{
    background-color: white;
    margin: 0.5rem auto;
    text-align: center;
    width: 80%;
    font-size: 1.4rem;
    color: #000;
}
td{
    padding: 0.5rem 0 0.5rem 0;
}
.same{
    color: darkgray;
}
.many {
    font-size: 1.2rem;
    background-color: white;
}
.reduce,.plus{
    padding: 0 0.5rem 0 0.5rem;
    border: 1px solid gainsboro;
}
.num{
    text-align: center;
    width: 2rem;
    border: none;
    outline: none;
    background-color: white;
}
.red{
    color: red;
}
.img3{
    position: absolute;
    top:-4%;
    left: 75%;
    width: 10%;
    height: 30px;
}
.WeChat{
    margin-top: -0.5rem;
    width: 80%;
    background-color: white;
    text-align: center;
}
.WeChat p {
    width: 90%;
    margin: 0 auto;
    font-size: 1.6rem;
    padding: 0.7rem 0 0.7rem 0;
    background-color: limegreen;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    color: white;
}
.WeChat p a{
    color: white;
    text-decoration: none;
    display: block;
}
.WeChat i{
    background-image: url('../img/weixing.png');
    background-size: 20px 20px;
    display: inline-block;
    width: 20px;
    height: 17px;
}
.t_warn{
    background-color: white;
    padding: 0.5rem;
    width: 80%;
}
.t_warn p{
    color: red;
    width: 95%;
    line-height: 1.5rem;
    margin: 0 auto;
    font-size: 1rem;
    padding-bottom: 0.5rem;
}
.t_warn i{
    background-image: url('../img/guize.png');
    background-size: 10px 10px;
    display: inline-block;
    width: 10px;
    height: 10px;
}
.false{
    position: fixed;
    width: 50%;
    height: 10rem;
    background-color: rgba(0,0,0,0.4);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    top:20%;
    left: 25%;
    z-index: 888;
    display: none;
}
.false img {
    width: 20%;
    display: block;
    margin: 1rem auto;
}
.false p {
    color: white;
    font-size: 1.8rem;
    padding: 1rem 0;
    text-align: center;
}
.theme-popover-mask {
    z-index: 99;
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:#000;
    opacity:0.4;
    filter:alpha(opacity=40);
    display:none
}
@media (min-width:480px ) and (max-width: 640px) {
    .img3{
        height: 35px;
    }
    .img1{
        height: 170px;
    }
}