@charset "UTF-8";
html{
    font-size: 62.5%;
}
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    list-style-type: none;
    cursor:default;
    -webkit-appearance:none;
}
a {
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
}
.body{
    font-family:"Tahoma,Arial,Roboto,”Droid Sans”,”Helvetica Neue”,”Droid Sans Fallback”,”Heiti SC”,”Hiragino Sans GB”,Simsun,sans-self;
	margin: 0 auto;
}
img{
    width: 100%;
    display: block;
}
a{
    color: #000000;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
}
a,img,button,input,textarea {
    -webkit-tap-highlight-color:rgba(255,255,255,0);
}
.tour{
    width: 100%;
    height: 5rem;
    border-bottom: 1px solid #000000;
    position: relative;
}
.tour1{
    position: absolute;
    top:1rem;
    left: 2%;
}
.tour p{
    text-align: center;
    line-height: 5rem;
    font-size: 1.8rem;
}
.qbdd{
    width: 100%;
    padding-left: 1rem;
    padding-right: 1rem;
    height: 5rem;
    border-bottom: 1px solid #000000;
}
.qbdd ul{
    margin: 0 auto;
}
.qbdd li{
    font-size: 1.3rem;
    line-height: 5rem;
    width: 20%;
    text-align: center;
    float: left;
}
.qbdd li a{
    text-decoration: none;
}
.qbdd li .aclass{
    color: green;
    text-decoration:underline;
}
.ddbh{
    width: 100%;
    height: 3rem;
    border-bottom: 1px solid #dcdcdc;
}
.ddbh{
    font-size: 1.3rem;
    line-height: 3rem;
}
.ddbh .li1{
    float: left;
    margin-left: 1.5rem;
}
.ddbh .li2{
     margin-right: 1.5rem;
     float: right;
 }
.ddbh .li2 button{
    outline: none;
    font-size: 1.3rem;
    border: 1px solid #dcdcdc;
    background-color: white;
    border: none;
}
.zfdd{
    border-bottom: 1px solid #dcdcdc;
}
.zfdd ul{
    width: 100%;
    height: 70px;
}
.zfdd ul li {
    display: block;
    float: left;
}
.li3{
    margin-top: 0.5rem;
}
.li3 img{
    margin-left: 1.5rem;
    border: 1px solid #dcdcdc;
    padding: 0.1rem;
}
.li4{
    margin-left: 2rem;
    font-size: 1.3rem;
    line-height: 2rem;
}
.ddfk{
    width: 100%;
    height: 4rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    border-bottom: 1px solid #dcdcdc;
    outline: none;
}
.ddfk li{
    font-size: 1.3rem;
    line-height: 4rem;
}
.ddfk .li5 {
 float: left;
}
.ddfk .li6{
    margin-left: 1.5rem;
    float: right;
}
.ddfk .li6 button{
    font-size: 1.3rem;
    outline: none;
    background-color: green;
    color: white;
    padding: 0.2rem;
    border: 1px solid green;
    border-radius: 1px;
}
.ddfk .li6 a{
    display: block;
}
.zshlogo{
    width: 100%;
    margin-top:6rem;
}
.zshlogo a img{
    padding: 0.5rem;
    margin: 0 auto;
}

.zshlogo p{
    font-size: 1.2rem;
    text-align: center;
}
.wx_nav a:before{
    background-image:url("../img/opcity.png");
    background-repeat:no-repeat;
    background-size:340px 20px;
    -webkit-background-size:340px 20px;
}
.wx_nav{
    overflow:hidden;
    height:48px;
    border-top:1px solid #ddd;
    position:fixed;
    z-index:900;
    width:100%;
    bottom:0;
    left:0;
}
.wx_nav a{
    width:200px;
    height:49px;
    color:#999;
    font-size:12px;
    background-color:white;
    text-align:center;
}
.wx_nav a:before{
    width:30px;
    height:20px;
    content:'\20';
    display:block;
    margin:5px auto 2px auto;
}
.wx_nav a:active{
    background-color:whitesmoke;
    color:lightseagreen;
}
.wx_nav a:active,.wx_nav a.nav_shopcart{
    color:lightseagreen;
}
.wx_nav a:active:before,.wx_nav a.nav_shopcart:before{
    background-image:url("../img/greenicon.png");
    background-repeat:no-repeat;
    background-size:340px 20px;
    -webkit-background-size:340px 20px;
}
.wx_nav .nav_index:before{
    background-position: 5px 0;
}
.wx_nav .nav_fav:before{
    background-position: -103px 0;
}
.wx_nav .nav_shopcart:before{
    background-position: -212px 0;
}
.wx_nav .nav_me:before{
    background-position: -315px 0;
}
.wx_nav{
    display:box;
    display:-ms-box;
    display:-webkit-box;
    display:flex;
    display:-ms-flexbox;
    display:-webkit-flex;
}
.wx_nav a{
    display:block;
    flex:1;
    -ms-flex:1;
    -webkit-flex:1;
    box-flex:1;
    -ms-box-flex:1;
    -webkit-box-flex:1;
}
.theme-popover-mask {
    z-index: 99;
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:#000;
    opacity:0.4;
    filter:alpha(opacity=40);
    display:none
}