@charset "UTF-8";
html{
    font-size: 62.5%;
}
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    cursor:default;
    list-style-type: none;
}
a {
    color: #000000;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
}
body{
    position: relative;
}
.body{
    font-family:"Tahoma,Arial,Roboto,”Droid Sans”,”Helvetica Neue”,”Droid Sans Fallback”,”Heiti SC”,”Hiragino Sans GB”,Simsun,sans-self;
margin: 0 auto;
}
img{
    width: 100%;
    display: block;
}
a{
    color: #000000;
}
a,img,button,input,textarea {
    -webkit-tap-highlight-color:rgba(255,255,255,0);
}
.tour{
    width: 100%;
    height: 5rem;
    border-bottom: 1px solid #000000;
    position: relative;
}
.tour1{
    position: absolute;
    top:1rem;
    left: 2%;
}
.tour p{
    text-align: center;
    line-height: 5rem;
    font-size: 1.8rem;
}
.tour2{
    position: absolute;
    top:1.5rem;
    right: 2%;
}
.tour .tour2 .btn{
    background-image: url(../img/delete.png);
    background-size: 20px 20px;
    display: inline-block;
    width: 20px;
    height: 20px;
}
.spxz{
	
	border:1px solid #dcdcdc;
}
.spxz ul{
    width: 100%;
    height: 70px;
}
.spxz ul li {
    display: block;
    float: left;
}
.li1{
    line-height: 70px;
    width: 10%;
    text-align: center;
}
.li2{
    margin-top: 0.5rem;
    width: 10%;
    text-align: center;
}
.li2 img{
    border: 1px solid #dcdcdc;
    padding: 0.1rem;
}
.li3{
    width: 40%;
    font-size: 1.3rem;
    line-height: 30px;
    text-align: center;
}
.one{
    color: red;
    border: none;
    outline: none;
    text-align: center;
    width: 4rem;
    background-color: white;
}
.li4{
    width: 38%;
    font-size: 1.3rem;
    line-height: 70px;
    text-align: right;
}
.reduce,.plus{
    padding: 0 0.5rem 0 0.5rem;
    border: 1px solid gainsboro;
}
.num{
    text-align: center;
    width: 2rem;
    border: none;
    outline: none;
}
.footing{
    width: 100%;
    position: fixed;
    background-color: #ffffff;
    z-index:1;
    bottom: 0;
}
.footing ul{
    width: 100%;
    height: 5rem;
    border-top: 1px solid #8a8a8a;
}
.footing ul li{
    display: block;
    float: left;
}
.li5{
    line-height: 5rem;
    width: 20%;
    font-size: 1.3rem;
    text-align: center;
}
.li6{
    width: 60%;
    line-height: 5rem;
    font-size: 1.3rem;
    text-align: center;
}
.li7{
    width: 29%;
    position: absolute;
    right:0;
    margin-right: 1.5rem;
    text-align: center;
    line-height: 5rem;
}
.li7 button{
    white-space: nowrap;
    width: 100%;
    font-size: 1.3rem;
    line-height: 4rem;
    background-color: green;
    color: #ffffff;
    font-weight: bold;
    border: none;
    outline: none;
    border-radius: 5px;
}
.alert{
    display: none;
    z-index: 111;
    position: relative;
    top:50%;
    background-color: #ffffff;
    margin-left: 20%;
    margin-right: 20%;
    width: 60%;
}
.theme-popover-mask {
    z-index: 99;
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:#000;
    opacity:0.4;
    filter:alpha(opacity=40);
    display:none
}