@charset "UTF-8";
html{
    font-size: 62.5%;
}
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    list-style-type: none;
    cursor:default;
    -webkit-appearance:none;
}
a {
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
}
body{
    position: relative;
}
.body{
    font-family:"Tahoma,Arial,Roboto,”Droid Sans”,”Helvetica Neue”,”Droid Sans Fallback”,”Heiti SC”,”Hiragino Sans GB”,Simsun,sans-self;
margin: 0 auto;
}
img{
    width: 100%;
    display: block;
}
a{
    color: #000000;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
}
a,img,button,input,textarea {
    -webkit-tap-highlight-color:rgba(255,255,255,0);
}
.tour{
    width: 100%;
    height: 5rem;
    border-bottom: 1px solid #000000;
    position: relative;
}
.tour1{
    position: absolute;
    top:1rem;
    left: 2%;
}
.tour p{
    text-align: center;
    line-height: 5rem;
    font-size: 1.8rem;
}
.ewm{
    width: 100%;
    height: 5rem;
    background-color: #efefef;
    border-bottom: 1px solid #000000;
}
.ewm ul{
    height: 5rem;
}
.ewm ul .lif{
    padding-top: 0.3rem;
    width: 50%;
    line-height: 2rem;
    padding-left: 1.5rem;
    font-size: 1.3rem;
    float: left;
    white-space: nowrap;
}
.ewm ul .lim{
    float: right;
    margin-right: 1.5rem;
    padding-top: 0.3rem;
}
.address{
    width: 100%;
    height: 5rem;
    position: relative;
}
.address .daohang{
    position: absolute;
    left: 1rem;
    top:0.5rem;
}
.address .caizhu{
    position: absolute;
    left: 5rem;
    top:1rem;
    font-size: 1.3rem;
}
.caizhu .person,.caizhu .diqiu{
    line-height: 1.5rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.address .xdz{
    position: absolute;
    right:1.5rem;
    top:1.5rem;
    font-size: 2rem;
}
.zfdd,.yunfei,.sjly{
    border-bottom: 1px solid #dcdcdc;
}
.zfdd ul{
    width: 100%;
    height: 70px;
}
.zfdd ul li {
    display: block;
    float: left;
}
.li1{
    margin-top: 0.5rem;
    width: 10%;
    text-align: center;
}
.li1 img{
    margin-left: 1.5rem;
    border: 1px solid #dcdcdc;
    padding: 0.1rem;
}
.li2{
    width: 60%;
    font-size: 1.3rem;
    line-height: 70px;
    text-align: center;
}
.li3{
    width: 26%;
    font-size: 1.3rem;
    line-height: 35px;
    text-align: right;
}
.yunfei ul{
    width: 100%;
    height: 3rem;
}
.yunfei ul li{
    float: left;
    line-height: 3rem;
    font-size: 1.4rem;
    width: 50%;
}
.yunfei ul .yunli{
    text-align: left;
    padding-left:1.5rem;
}
.yunfei ul .qianli{
    text-align: right;
    padding-right:1.5rem;
}
.zjfy{
    width: 100%;
    height: 7rem;
    position: relative;
}
.fy{
    position: absolute;
    right: 1.5rem;
    top:2rem;
}
.fy p{
    font-size: 1.6rem;
    color: red;
}
.qxdd{
    width: 30rem;
    margin:0 auto;
    height: 8rem;
}
.qxdd a{
    display: block;
    text-align: center;
}
.qxdd a button{
    margin-top: 2rem;
    width: 10rem;
    height: 4rem;
    font-size: 1.2rem;
    outline: none;
    color: green;
    background-color: #ffffff;
    border: 1px solid green;
    border-radius: 5px;
}
.dewm{
	display:none;
   	z-index: 222;
    position: absolute;
    width: 100%;
    top:10rem;
}
.zshlogo{
    width: 100%;
    height: 13rem;
}
.zshlogo a img{
    padding: 0.5rem;
    margin: 0 auto;
}

.zshlogo p{
    font-size: 1.2rem;
    text-align: center;
}
.wx_nav a:before{
    background-image:url("../img/opcity.png");
    background-repeat:no-repeat;
    background-size:340px 20px;
    -webkit-background-size:340px 20px;
}
.wx_nav{
    overflow:hidden;
    height:48px;
    border-top:1px solid #ddd;
    position:fixed;
    z-index:900;
    width:100%;
    bottom:0;
    left:0;
}
.wx_nav a{
    width:200px;
    height:49px;
    color:#999;
    font-size:12px;
    background-color:white;
    text-align:center;
}
.wx_nav a:before{
    width:30px;
    height:20px;
    content:'\20';
    display:block;
    margin:5px auto 2px auto;
}
.wx_nav a:active{
    background-color:whitesmoke;
    color:lightseagreen;
}
.wx_nav a:active,.wx_nav a.nav_me{
    color:lightseagreen;
}
.wx_nav a:active:before,.wx_nav a.nav_me:before{
    background-image:url("../img/greenicon.png");
    background-repeat:no-repeat;
    background-size:340px 20px;
    -webkit-background-size:340px 20px;
}
.wx_nav .nav_index:before{
    background-position: 5px 0;
}
.wx_nav .nav_fav:before{
    background-position: -103px 0;
}
.wx_nav .nav_shopcart:before{
    background-position: -212px 0;
}
.wx_nav .nav_me:before{
    background-position: -315px 0;
}
.wx_nav{
    display:box;
    display:-ms-box;
    display:-webkit-box;
    display:flex;
    display:-ms-flexbox;
    display:-webkit-flex;
}
.wx_nav a{
    display:block;
    flex:1;
    -ms-flex:1;
    -webkit-flex:1;
    box-flex:1;
    -ms-box-flex:1;
    -webkit-box-flex:1;
}
.theme-popover-mask {
    z-index: 99;
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:#000;
    opacity:0.4;
    filter:alpha(opacity=40);
    display:none
}