@charset "UTF-8";
html{
    font-size: 62.5%;
}
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    list-style-type: none;
    cursor:default;
    -webkit-appearance:none;
}
a {
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
}
.body{
    font-family:"Tahoma,Arial,Roboto,”Droid Sans”,”Helvetica Neue”,”Droid Sans Fallback”,”Heiti SC”,”Hiragino Sans GB”,Simsun,sans-self;
    margin: 0 auto;
}
img{
    width: 100%;
    display: block;
}
a,img,button,input,textarea{
    color: #000000;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
}
header{
    display: block;
    position: fixed;
    width: 100%;
    top:0;
    background-color: lightseagreen;
    z-index: 9999;
}
header div{
    font-size: 1.2rem;
    text-align: right;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-right: 4%;
}
header div a{
    color: white;
}
header div a button{
    color: lightseagreen;
    outline: none;
    border: none;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    background-color: white;
    padding: 0.5rem 1rem;
}
.container{
    max-width: 640px;
    margin: 0 auto;
}
.allLogo{
    position: relative;
}
.logo{
    margin: 0 auto;
    max-width:640px;
}
.head{
    width: 64px;
    position: absolute;
    bottom:-4rem;
    left: 1rem;
    z-index:999;
}
.headInfo{
    position: absolute;
    font-size: 1.6rem;
    bottom:-3rem ;
    left: 8rem;
    z-index:999;
}
.SeckillOne{
    padding-top: 1rem;
    background-color: gainsboro;
    margin-top: 5rem;
    position: relative;
}
.SeckillOne img{
    max-width: 640px;
    max-height: 178px;
}
.SeckillTwo{
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: gainsboro;
    position: relative;
}
.SeckillTwo img{
    max-width: 640px;
    max-height: 178px;
}
.HotDate{
    position: absolute;
    top:1rem;
    left: 2%;
    background-image: url('../img/daojishi.png');
    background-size: 70px 78px;
    width: 70px;
    height: 78px;
    color: white;
    text-align: center;
}
.HotDate a{
    display: inline-block;
    padding: 0.1rem 0.3rem;
    border-radius: 10px;
    border: 1px solid white;
    color: white;
}
.hurry{
    position: absolute;
    top: 40%;
    right: 4%;
}
.hurry img{
    width: 8px;
    height: 11px;
    display: inline;
}
.hurry button{
    outline: none;
    border: none;
    color: white;
    padding: 1rem 2rem 1rem 3rem;
    font-size: 1.4rem;
    background-color: #000000;
    border-radius: 20px;
    -webkit-border-radius: 20px;
}
.number{
    position: absolute;
    bottom: 4%;
    right: 4%;
    font-size: 1.4rem;
    color: lightyellow;
}
.store{
    margin-top: 2rem;
    font-size: 1.4rem;
    position: relative;
}
.store .li1{
    margin-left: 4%;
    float: left;
}
.store .li2{
    margin-right: 4%;
    float: right;
}
.ycmenu{
    width:100%;
    display: none;
    background-color: #ffffff;
    position: absolute;
    z-index:6666;
    top: 4rem;
}
.ycmenu ul {
    text-align: center;
}
.ycmenu ul li {
    height: 2rem;
    line-height: 2rem;
    font-size: 1.4rem;
}
.ycmenu ul li a{
    border-bottom: 1px solid #000000;
    display: block;
}
.ycmenu ul li .a{
    color: green;
    border: 1px solid green;
}
.clear{
    clear: both;
}
.border{
    margin-top: 2rem;
    border-bottom: 1px solid gainsboro;
}
.allsp{
    max-width: 640px;
    margin: 0 auto;
    padding:  0 0 0 2%;
}
figure{
    width: 48%;
    margin-right: 2%;
    float: left;
    border-top: 1px solid gainsboro;
    margin-bottom:0.5rem;
    padding-top: 0.5rem;
}
figure img{
    border-radius: 0.1rem;
}
figure p {
    padding-top:0.5rem;
    font-size:1.4rem;
    font-weight: normal;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align:left;
    padding-left: 2%;
}
figure div em{
    display:inline-block;
    margin-top:6%;
    font-style: normal;
    font-size:1.6rem;
    color: red;
    padding-left: 2%;
}
figure div em small{
    text-decoration: line-through;
    font-size: 1rem;
    color: darkgray;
}
.footer{
    height: 8rem;
    background-color: gainsboro;
    text-align:center ;
}
.footer p {
    color: darkgray;
    font-size: 1.4rem;
}
.wx_nav a:before{
    background-image:url("../img/opcity.png");
    background-repeat:no-repeat;
    background-size:340px 20px;
    -webkit-background-size:340px 20px;
}
.wx_nav{
    overflow:hidden;
    height:48px;
    border-top:1px solid #ddd;
    position:fixed;
    z-index:900;
    width:100%;
    bottom:0;
    left:0;
}
.wx_nav a{
    width:200px;
    height:49px;
    color:#999;
    font-size:12px;
    background-color:white;
    text-align:center;
}
.wx_nav a:before{
    width:30px;
    height:20px;
    content:'\20';
    display:block;
    margin:5px auto 2px auto;
}
.wx_nav a:active{
    background-color:whitesmoke;
    color:lightseagreen;
}
.wx_nav a:active,.wx_nav a.nav_index{
    color:lightseagreen;
}
.wx_nav a:active:before,.wx_nav a.nav_index:before{
    background-image:url("../img/greenicon.png");
    background-repeat:no-repeat;
    background-size:340px 20px;
    -webkit-background-size:340px 20px;
}
.wx_nav .nav_index:before{
    background-position: 5px 0;
}
.wx_nav .nav_fav:before{
    background-position: -103px 0;
}
.wx_nav .nav_shopcart:before{
    background-position: -212px 0;
}
.wx_nav .nav_me:before{
    background-position: -315px 0;
}
.wx_nav{
    display:box;
    display:-ms-box;
    display:-webkit-box;
    display:flex;
    display:-ms-flexbox;
    display:-webkit-flex;
}
.wx_nav a{
    display:block;
    flex:1;
    -ms-flex:1;
    -webkit-flex:1;
    box-flex:1;
    -ms-box-flex:1;
    -webkit-box-flex:1;
}
.theme-popover-mask {
    z-index: 99;
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:#000;
    opacity:0.4;
    filter:alpha(opacity=40);
    display:none
}