.bt .p1{
	padding:10px 15px;
	color:#999999;
}
.bx{
	background:#ffffff;
}
.bx p{
	margin-left: 15PX;
	padding: 10px 15px 10px 0;
	border-bottom: 1px solid #eeeeee;

}
.bx input{
	width:75%;
	margin-left:10px;
	border:0;
	outline: none;
}
.ljgx{
	margin:0 auto;
	text-align: center;
}
.ljgx input{
	margin:20px 0;
	text-align: center;
	width:90%;
	border-radius: 5px;
	padding:10px 0;
	color: #eeeeee;
	background:#FF6666;
	border:0;
}
